@charset "utf-8";
// @import "mobile";
// @import "settings";
@import "sass-bootstrap/lib/bootstrap";
// @import "font-awesome/scss/font-awesome";

/*
  any variables and settings should be defined here,
  like colors for instance
*/

$marginTopBody: 40px;
$navbar-inverse-color:                      white;
$navbar-inverse-bg:                         rgb(128,63,66) !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 0%) !default;
$navbar-inverse-link-color:                 white;
$brand-primary:         #784448 !default;
$brand-success:         #5983C3 !default;
$brand-info:            #5983C3 !default;
$brand-warning:         #5983C3 !default;
$brand-danger:          #5983C3 !default;
$font-family-serif:       'Quicksand' !default;
$font-family-base:        $font-family-serif, sans-serif !default;
$font-size-base:          18px !default;
$font-size-h1:            floor(($font-size-base * 2.0)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 1.6)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.4)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.2)) !default; // ~18px
$headings-font-family:    'Quicksand' !default;
$btn-link-disabled-color:         #5983C3 !default;
