- if @analytics_account && !development?
  script[type="text/javascript"]
    |  var _gaq = _gaq || []; _gaq.push(["_setAccount", "<ruby code="=@analytics_account"></ruby>"]); _gaq.push(["_trackPageview"]); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = '//stats.g.doubleclick.net/dc.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); 
