@charset "utf-8";

@import "settings";
@import "imports";

body {
  margin-top: $marginTopBody;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

h2 {
	padding-top: 20px;
}

section {
	@extend .row;
	// background-color: #CFB367;
	// color: white;
	// min-height: 800px;
	padding: 0px;
	margin: 0px;
	// width: 100%;	
	.content {
		h1 { 
			// padding: 20px;
		}
		width: 75%;
		margin-left: auto;
		margin-right: auto;		
		padding-top: 100px;
		padding-bottom: 100px;
	}
}


section.blue {
	background-color: #5983C3;
	color: white;
	a {
		color: white;
	}
}

section.yellow {
	background-color: #CFB367;
	color: white;
	a {
		color: white;
	}
}

section.red {
	background-color: rgb(128,63,66);
	color: white;
	a {
		color: white;
	}	
	a.btn { 
		color: #784448;
	}
	h1 { 
		font-weight: light;
		font-size: 5em;	
		font-family: 'Antic Didone';
	}	
	h2, h3, h4 { 
		font-weight: light;
		font-family: 'Antic Didone';
	}	
}

section.white {
	background-color: white;
	h2 {
		color: #784448;
		// border-bottom: 3px dashed #2179C1;
	}
}


// top

.carousel {
	height: 600px;
	overflow: hidden;
}

#carousel-top {
	// position: absolute;
	height: 600px;
	.logos {
		float: left;
		pointer-events:none;
		position: relative;
		top: -600px;
		left: 200px;		
			.logo {
				padding-top: 40px;
				background-color: rgb(128,63,66);
				max-width: 200px;		
			}
			.pueblos {
				max-width: 200px;		
			}
	}
	.title {
		float: left;
		pointer-events:none;
		position: relative;
		top: -400px;
		left: 400px;		
		background-color: rgba(128,63,66,0.5);
		color: white;
		h2 { 
			text-align: left;
			padding: 10px;
			margin: 10px;
		}
	}	
	// .jumbotron {
	// 	// float: left;
	// 	// width: 100%;
	// 	pointer-events:none;
	// 	position: relative;
	// 	top: -600px;
	// 	// margin-top: -600px;
	// 	// margin-bottom: -600px;
	// 	background-color: rgba(200,200,200,0.5);
	// 	padding: 50px;
	// 	margin: 0px;
		
	// 	h1 {
	// 		font-family: 'Antic Didone';	
	// 	}
	// 	small {
	// 		color: #606060;	
	// 	}
	// } 
}

.carrousel-container { max-height: 600px; width: auto; overflow: hidden; }
.carrousel-container img { width: 100%; }

// jumbotron

// ROOMS

.row {
	.rooms {
		padding-bottom: 20px;
		padding-top: 40px;
	}
}

.center {
	text-align: center;
	float: none;
	margin-left: auto;
	margin-right: auto;	
	display: table;
}

img.room {
	@extend .img-rounded;
	// @extend .img-responsive;
	// margin-bottom: 20px;
	width: 250px;
	height: 250px;
}