<div class="airbnb-embed-frame" data-city-link-index="1" data-eb="1483701053_LEM6XxOojk6zedvl" data-eu="V1gDaT/VVYsNsJhZ9aAzV/cGxR26Aa0GA5V+9WbJHMb2mXaJdl8hwk8GNRAQ kz/QuaiF3Ct4RUGKNsytRz8/qTmsvhAP6sWDoF/WuMcQOQGtQbhTy2oPR4Cp Vqik/QKXVQxSMAWW6LIv0RZ4HtrtSHbqxTFmJTW9H/MvoJuGR/YYcu50/2Qf ZOl/PIzZPPiCV1fZ8Blqj83dzcfD/5HAomN9BSaqk+wP6jgqHSkXhTXM/8ET l5yNCkyhnrOsJGqCN/XpB51h0AMywBF1dis/pVV/zCwRXOzb3xPLeLFArN5T 6KnYqx0izU3DMzyefoalcMOd2veVfCg9UqWgSMGzIQ== " data-embed-source-type="p3" data-trigger-source-type="p3_listing_embed_notification" data-listing-id="6461612" data-photo-url="https://a1.muscache.com/im/pictures/81146372/8d5cd16d_original.jpg?aki_policy=x_large" data-view="listing_frame" style="max-width:600px;margin:auto;transition:height .2s;">
   <img src="https://a1.muscache.com/im/pictures/81146372/8d5cd16d_original.jpg?aki_policy=x_large" style="max-width:100%;" alt=""/>
   <div>
      <a href="https://www.airbnb.be/rooms/6461612" rel="nofollow">
         <h4>VEJERÍSIMO: gastenkamers met charme</h4>
      </a>
      <div>Vejer de la Frontera, Andalusië, Spanje</div>
      <blockquote>VEJERÍSIMO is een Guest House gelegen in een rustig straatje van Vejer de la Frontera. Onze kamers bezitten alles om je te herbronnen: grote badkamer, comfortabel bed en lichttherapie na zonsonderg...</blockquote>
   </div>
   <script async="" src="https://www.airbnb.be/embeddable/airbnb_jssdk"></script>
</div>
