<div id="hc-ratingRatingHotel" >
<div id="hc-ratingRatingHotel__inner">
<div id="hc-ratingRatingHotel__header">Excellent <br>Rated By guests</div>
<div id="hc-ratingRatingHotel__rating">9.6</div>
<a id="hc-ratingRatingHotel__hotelname" target="_blank" href="javascript:void(0)">VejeriÌsimo</a>
</div>
<a id="hc-ratingRatingHotel__hclink" target="_blank" href="https://www.hotelscombined.es">HotelsCombined</a>
</div>
<div id="hc-data__hotellink" style="display: none;">Vejerisimo</div>
<link rel="stylesheet" type="text/css" href="https://media.datahc.com/ratinghotel/hotelscombinedhotel/styles.css?v1">
<script type="text/javascript" src="https://media.datahc.com/ratinghotel/hotelscombinedhotel/script.js?v1"></script>
